.containner >.fig-table {
    width: 100%;
}

.containner figure.fig-table {
    width: 100%;
}

.containner figure.fig-table #table-img {
    max-width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}